@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}

#skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #bf1722;
    color: #FFF;
    z-index: 100;
    padding: 8px;
}

#skip-link:focus {
    top: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.background-primary {
    background: #F7941E;
}

.background-secondary {
    background: #3397db;
}

.background-tertiary {
    background: #252831;
}

a {
    color: orange;
    text-decoration: none;
}

    a:hover, a:focus, select:hover, select:focus, aside:hover, aside:focus {
        color: #3397db;
        outline: 4px dotted #fff;
        text-decoration: none;
        box-shadow: #000 3px 3px;
    }

[tabindex='0']:focus {
    outline: 2px dashed #fff;
    font-weight: 200;
    box-shadow: 2px 2px 2px gray;
}

a img {
    border: none 0 #fff;
}

#footer {
    background-color: #444;
    color: #aaa;
    font-size: .8em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
}

header {
    height: 80px;
    text-align: center;
}

h1 {
    color: #fff;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-top: 10px;
}

#breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: .8em;
    width: calc(50%-80px);
    margin: 0;
    padding: 10px 40px 16px;
}

    #breadcrumb li {
        display: inline;
    }

        #breadcrumb li + li:before {
            color: #000;
            content: "/\00a0";
            padding: 8px;
        }

        #breadcrumb li a {
            color: #0275d8;
            text-decoration: none;
        }

            #breadcrumb li a:hover {
                color: #01447e;
                text-decoration: underline;
            }

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

fieldset {
    width: 100%;
    background-color: #3397DB;
    align-items: center;
}

    fieldset legend, fieldset label {
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1;
        margin: 0 20px;
    }

    fieldset select {
        background-color: #FFF;
        border: 1px solid #fff;
        font-family: Arial,sans-serif;
        font-size: 11pt;
        height: 35px;
        letter-spacing: 0;
    }

#restaurants-list {
    background-color: #f3f3f3;
    text-align: center;
}

    #restaurants-list li {
        background-color: #fff;
        border: 2px solid #ccc;
        font-family: Arial,sans-serif;
        text-align: left;
        margin: 15px;
        padding: 0 30px 25px;
    }

    #restaurants-list .restaurant-img {
        background-color: #ccc;
        display: block;
        max-width: 100%;
        margin: 0;
    }

    #restaurants-list li h2 {
        color: #f18200;
        font-family: Arial,sans-serif;
        font-size: 1.5em;
        font-weight: 200;
        letter-spacing: 0;
        line-height: 1.3;
        text-transform: uppercase;
        margin: 20px 0 10px;
    }

    #restaurants-list address {
        font-size: .8em;
        margin: 0;
    }

    #restaurants-list li a {
        background-color: orange;
        border-bottom: 3px solid #eee;
        color: #fff;
        display: inline-block;
        font-size: 10pt;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin: 15px 0 0;
        padding: 8px 30px 10px;
    }

.inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 15px 0 30px;
}

#restaurant-img {
    width: 100%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 20px;
    padding: 2px 0;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

    #reviews-list li {
        background-color: #fff;
        border: 2px solid #f3f3f3;
        display: block;
        list-style-type: none;
        overflow: hidden;
        position: relative;
        width: 85%;
        margin: 0 0 30px;
        padding: 0 20px 20px;
    }

        #reviews-list li time, #reviews-list li author {
            margin: 0 0 10px;
        }

#restaurant-hours td {
    color: #666;
}

@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }

    .col-1-3 {
        width: 33.3333%;
    }

    .col-2-3 {
        width: 66.6666%;
    }

    .filter-options legend, .filter-options select {
        font-size: 1.5em;
    }

    label {
        display: inline-block;
    }

}
